@import url('https://fonts.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    align-items: center ;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #363753;
    align-items: center;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    font-size: 36px;
  }
  
  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    align-items: center;
  }
  
  .subject {
    background-color: #EF316D;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  h2 {
    font-size: 24px;
    color: #333;
    align-items: center;
  }